.card {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.options button {
  display: block;
  width: 100%;
  margin: 6px 0;
  border-radius: 10px;
  padding: 8px;
}

.manager input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.q-item {
  background: #f5f8ff;
  padding: 8px;
  margin-top: 6px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.small {
  padding: 5px 8px;
  font-size: 14px;
}


.btn.danger {
  background: #ff6b6b;
}
